target/
.idea/
*.DS_Store
*.metals
.bloop
*.log
*.class
.java-version
.terraform
*-generated.yml
cache
ivy2
generated.yml
.scannerwork
project/metals.sbt
.vscode
metals.sbt
sbt.json
project/project/
project/target/
client/target/
